body
{
    align-content: center;
    background-color: lightblue;
}
h1
{
    color: red;
}
.main
{
    padding: 3%;
    align-content: center;
    margin-left: 33%;
    background-color: white;
    width: 30%;
    border: 1px black;
}