<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Probni login</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class = "main">
    <form th:object="${user}" method="post">
        <label for="username">Username </label><input type="text" id="username" th:field="*{username}"><br><br>
        <label for="password">Password </label><input type = "password" id="password" th:field="*{password}"> <br><br>
        <input type="submit" value="login">
    </form>
    <br>
    <form th:action = "@{/register}">
        <input type="submit" value="register">
    </form>
</div>
</body>
</html>